body{
    background-color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
    
}

/* Estilos generales */

nav{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

#logo{
    margin-left:55px;
    max-width: 100px;
}


#inicio{
    margin-left: 700px;
}

span{
    color: #FF4081;
    /*font-weight: bold;*/
}

#container-one{
    padding-top: 100px;
}

#container-two{
    padding-top: 100px;
}

#container-footer{
    padding-top: 100px;
    text-align: center;
}

footer{
    background-color: #f8f9fa;
    padding-top: 50px;
    margin-top:50px;
    text-align: center;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #f8f9fa;
    background-color: #FF4081;
    border-radius: 6px; 

  }

  .boton_personalizado:hover{
    background-color: rgb(204, 204, 204);
   
}



h4{
    font-family: 'Oswald', sans-serif;
}

#enlaces_contacto{
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
}

#pequeño{
    font-size: 13px;
}

/* Estilos inicio */

#titulo-inicio{
    margin-top:50px;
    font-family: 'Open Sans', sans-serif;
    line-height : 55px;
}

.card:hover {
    filter: opacity(.5);
}

/* Estilos about */

h3{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#imgcons{
    height: 460px;
    width: 420px;  
    margin-left: 80px;
 }

#container-three{
    padding-top: 60px; 
}

#container-four{
    padding-top: 60px; 
}

#parrafo{
    margin-top: 20px;
}

#fluido{
    background-color: #FF4081;
    width: 100%;
}

/* Estilos contacto */















