body{
    background-color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
    
}


/* Estilos generales */

nav{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

#logo{
    margin-left:55px;
    max-width: 100px;
}


#inicio{
    margin-left: 700px;
}

span{
    color: #FF4081;
    /*font-weight: bold;*/
}

#container-one{
    padding-top: 100px;
}

#container-two{
    padding-top: 100px;
}

#container-footer{
    padding-top: 100px;
    text-align: center;
}

footer{
    background-color: #f8f9fa;
    padding-top: 50px;
    margin-top:500px;
    text-align: center;
}

#footer-cumplo{
    padding-top: 800px;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #f8f9fa;
    background-color: #FF4081;
    border-radius: 6px; 
    margin-bottom: 3%;
  }

  .boton_personalizado:hover{
    background-color: rgb(204, 204, 204);
   
}



h4{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

#enlaces_contacto{
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

#pequeño{
    font-size: 13px;
}

/* Estilos inicio */

#titulo-inicio{
    margin-top:50px;
    font-family: 'Open Sans', sans-serif;
    line-height : 55px;
}


.card-body{
    height: 60px;
}

.card:hover {
    filter: opacity(.2);
}

/* Estilos about */

h3{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

#imgcons{
    height: 460px;
    width: 420px;  
    margin-left: 80px;
 }

#container-three{
    padding-top: 60px; 
}

#container-four{
    padding-top: 60px; 
}

#parrafo{
    margin-top: 20px;
}

#fluido{
    background-color: #FF4081;
    width: 100%;
}


/*Estilos generales proyecto*/

.icon{
    height: 35px;
    width: 35px;
}



.text-img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-project{
    text-align: center;
    color:#ffff;
    font-weight: bold;
}

.subtitle{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color:#ffff;
    
}

#about-proyect{
font-size: 20px;
font-family: 'Open Sans', sans-serif;
}

.p-title{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.h5-title{
    margin-top: -9px;
    font-weight: bold;
}

#container-cumplo{
    margin-top: 60px;
    margin-left: 250px;
    height: 250px;
    /*padding-right: 500px;*/
  
}

#role{
    margin-top: 60px;
    margin-left: 250px;
    height: 180px;

}

.p-bold{
    font-weight: bold;
}

.container-text{
    margin-top:30px;
    height: 500px;
    
}

#container-conocer{
    height: 500px;

}

#proceso-diseño{
    background-color: #Ffff;
    height:300px;

}

#titulo-proceso{
    
    padding-top:25px;
    text-align: center;
}

#desafio{
    background-color: #Ffff;
    text-align: center;
    height:200px;
      
}

#texto-desafio{
    margin-left: 150px;
    padding-top:50px;  
}

.panel{
    margin-top: 50px;
}

#leftdiv1{
    margin-left: 65px;
    padding-top:10px;  
    float: left;
}

#leftdiv2 {
    margin-left: 25px;
    padding-top: 10px;
	float: left;
}

#centerdiv {
    margin-left: 25px;
    padding-top: 10px;
	float: left;
}

#rightdiv1 {
    margin-left: 25px;
    padding-top: 10px;
	float: left;
}

#rightdiv2 {
    margin-left: 25px;
    padding-top: 10px;
	float: left;
}


.p-detalles{
    font-size: 14px;
    text-align: center;
    
}



#empatizar{
    height: 35px;
    width: 35px;
    text-align: center;
}

#referentes{
    background-color: #Ffff;
    margin-top:180px;
    padding-left: 250px;
    height: 350px;
    width: 100%;

}

#img-ref{
    width: 156px;
    height: 224px;
}

#ref-left{
    float:left;
    margin-top: 60px;
}

#ref-right{
    float: right;
    margin-top: 65px;
    padding-right: 200px;

}

#user{
    padding-left: 250px;
    margin-top:50px;
    height: 500px;

}

#p-user{
    padding-right: 150px;
}

#user-1{
    width: 640px;
    height: 484px;
    text-align: center;
}


#user-2{
    width: 640px;
    height: 484px;
    text-align: center;
}

#user-left{
    float: left;
    margin-top: 100px;
}

#user-right{
    float: right;
    padding-right: 100px;
}

#arrow-1{
    width: 150px;
    height: 150px; 
    margin-left: 100px;
    

}

#arrow-2{
    width: 150px;
    height: 150px;
    margin-right: 220px; 
    margin-top:150px;
    
    

}

#user2-left{
    float: left;
    margin-left:-80px;
    margin-top: 50px;

}

#user2-right{
    float: right;
    

}

#p-arrow{
    margin-left:-30px;
    margin-top:-50px;
}

#p-arrow2{
    padding-left:130px;
    margin-top:-50px;
}

#pre-test{
    background-color: #Ffff;
    height: 680px;
    margin-top:720px; 
}

#pre-title{
    margin-left: 250px;
    padding-top:30px;

}

#portada-cumplo{
    width: 757px;
    height: 242px;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;

}

#pre-left{
    float: left;
    margin-left: 220px;
}

#pre-center{
    float: left;
    margin-left: 100px;
    
    
}

#pre-right{
    float: left;
    margin-left: 100px;
    
}

#container-ideas{
    margin-top: 60px;
    margin-left: 250px;
    height: 750px;
}

#sketch-cumplo{
    width: 656px;
    height: 492px;
    margin-left: 100px;
}

#container-sitemap{
    padding-top:50px;
    margin-top: 100px;
    height: 690px;
    background-color: #Ffff;

}

#sitemap-cumplo{
    width: 656px;
    height: 492px;
    margin-left: 350px;
}

.correr-p{
    margin-left: 250px;
}

#container-wireframe{
    margin-left: 250px;
}

#wireframe{
    width: 720px;
    height: 349px;
    

}

#text-prototipo{
    margin-right: 100px; 
}

#prototipo{
    padding-top: 50px;
    background-color: #Ffff;
    
}

#title-prototipo{
    margin-left: 250px;
}

#cumplo-1{
    width:  472px;
    height: 435px;
    margin-left: 250px;
}

.div-left{
    float: left;
}


/*Estilos Cumplo*/

#imgCumplo{
    width:  100%;
    height: 250px;
}

/* Estilos contacto */















