/*body{
    background-color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
  }
  .txt-sub{
    color: #FF4081;
  }
  h1, h2, h3, h4, h5, h6{
    font-family:'Oswald', sans-serif;
    letter-spacing: 1px;
  }
  header, footer{
    padding: 12% 0;
  }
  .pd-sct{
    padding: 8% 0;
  }
  .pd-proyecto{
    padding: 3% 0;
  }
  .pos-txt{
    padding: 25% 5%;
  }
  a{
    text-decoration: none;
    color: #FF4081;
  }
  a:hover{
    text-decoration: none;
    color: #f8f9fa ;
    background-color: #FF4081;
    padding: 2% 2%;
  }
  .mail{
    color: #f8f9fa ;
    background-color: #FF4081;
    padding: 1% 1%;
  }
  .navbar-light .navbar-toggler{
    border: none;
  }
  #logo{
    max-width: 100px;
  }

  */

      
body{
    background-color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
  }
  
  .navbar-light .navbar-toggler{
    border: none;
  }
  #logo{
    max-width: 100px;
  }

  .txt-fluid{
    padding: 0% 5%;
    color: #ffff;
  }
  
  .txt-sub{
    color: #FF4081;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family:'Oswald', sans-serif;
    letter-spacing: 1px;
  }

  .p-min{
    font-size: 13px;
  }
  
  header, footer{
    padding: 12% 0;
  }
  
  .pd-sct{
    padding: 8% 0 !important;
  }
  .pd-proyecto{
    padding: 3% 0;
  }
  .img-proyecto{
    max-width: 400px;
  }
  .pos-txt{
    padding: 25% 5%;
  }

  .pos2-txt{
    padding: 30% 5%;
  }

  .pos-img{
    padding: 5% 0%;
  }
  
  a{
    text-decoration: none;
    color: #FF4081;
  }
  a:hover{
    text-decoration: none;
    color: #f8f9fa ;
    background-color: #FF4081;
    padding: 2% 2%;
  }
  .mail{
    color: #f8f9fa ;
    background-color: #FF4081;
    padding: 1% 1%;
  }
  .img-ref{
    max-width: 50%;
    text-align: center;
    margin: 0% 30%;
  }
  .up-text{
      padding: 0% 5%;
  }

  .space-text{
    padding: 5% 5%;
  }

  .img-icon{
      height: 35px;
      width: 35px;
      margin: 20% 30%;

  }

  /*Imágenes sobre mi*/
  #cum{
    margin: 10% 0%
  }

  /*Imágenes Cumplo*/

  #img-cumplo{
      background-image: url(img/cumplo_portada.jpg);
      opacity : 0.7;
  }

  /*.img-user{
      width: 696px;
      height: 522px;
      text-align: center;
      margin: 0% 20%;
  }*/
  
   /*Imágenes Chile Valora*/

   #img-chv{
    background-image: url(img/chilevalora_portada.jpg);
    opacity : 0.7;
    

}

/*Imágenes ViDA*/

#img-vida{
  background-image: url(img/vida_portada.jpg);
  opacity : 0.7;
  

}

/*Imágenes Plantada*/

#img-market{
  background-image: url(img/market_portada.jpg);
  opacity : 0.7;
  

}

/*Imágenes AS*/

#img-as{
  background-image: url(img/as_portada.jpg);
  opacity : 0.7;
  

}

